---
import Text from "../components/atoms/Text.astro";
import Button from "../components/atoms/Button.astro";
import Input from "../components/atoms/Input.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./assets/favicon-32x32.png"
    />

    <title>Frontend Mentor | Audiophile e-commerce website</title>
  </head>
  <body>
    <Button type="primary">Primary</Button>
    <Input type="radio" label="Male" name="gender" id="male" />
    <Input type="radio" label="Female" name="gender" id="female" />
    <Input type="text" name="gender" placeholder="Name" />
    <Input type="counter" name="counter" min={1} />
  </body>

  <style is:global>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    :root {
      --primary: #d87d4a;
      --dark: #101010;
      --night: #000;
      --gray: #f1f1f1;
      --off-white: #fafafa;
      --white: #fff;
      --primary-light: #fbaf85;
    }
  </style>
</html>
