---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/organisms/Hero.astro";
import { colors } from "../design-system/colors.js";
import Text from "../components/atoms/Text.astro";
import FeaturedProducts from "../components/organisms/FeaturedProducts.astro";
import Outro from "../components/organisms/Outro.astro";
import Footer from "../components/organisms/Footer.astro";
---

<Layout title="Home">
  <Hero>
    <div class="hero flex justify-center items-center">
      <Text type="h3" color={colors.white}>SPEAKERS</Text>
    </div>
  </Hero>

  <!-- Featured products -->
  <FeaturedProducts />

  <!-- Outro section -->
  <Outro />

  <!-- Footer -->
  <Footer />
</Layout>

<style>
  .hero {
    height: 250px;
  }
</style>
